{% extends "socialnetwork/base.html" %}

{% block user-info %}
   <div class="dropdown">
    <span id="id_logged_in_user_name">{{user.first_name}} {{user.last_name}}</span>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class='caret'></span></a>
            <ul class='dropdown-menu'>
                <li><a id="id_nav_global_stream" href="{% url 'globalstream' %}">Global Stream</a></li>
                <li><a id="id_nav_follower_stream" href="{% url 'followerstream' %}">Follower Stream</a></li>
                <li><a id="id_nav_profile" href="{% url 'publicprofile' user.id %}">My Profile</a></li>
                <li><a id="id_nav_logout" href="{% url 'login'%}">Logout</a></li>
            </ul>
    </div>
{% endblock %}
   
{% block content %}
    <h6><b>Global Stream</b></h6>
    <p></p>
    <div class="blog_container">
        <div class="input-group input-group-sm">
         <form method="post" >
            <span class="errorlist">{{message}}</span> 
            {% for field in postform.visible_fields %}
                    <span class="input-group-addon">{{field.label_tag}}</span>
                    <span id="id_post_text">{{field}}</span>
            {% endfor %}
              {% csrf_token %}
             <button class="input-group-addon" type="submit" id="id_post_button" class="btn btn-default" >Post</button>
        </form>

        </div>
            <br>
        {% for post in posts%}
        <p>Post by <a href="{% url 'publicprofile' post.author.id %}" id="id_post_profile_{{post.id}}">{{post.author.first_name}} {{post.author.last_name}}</a> -- <span id='id_post_text_{{post.id}}'>{{post.content}}</span>{% load tz %}
        -- <span id='id_post_date_time_{{post.id}}'>{{post.date_posted|timezone:"US/Eastern"}}</span></p>

        <div class="input-group input-group-sm">
            <input type="text" id='id_comment_text_{{post.id}}'class="form-control">
            <span class="input-group-addon">
                <button type="submit" id='id_comment_{{post.id}}'class="btn btn-default" >Comment</button>
            </span>
        </div><br>
        {% endfor %}
        
            
    </div>
{% endblock %}